target/
out/
build/
data/
.env
.env.*
*.mv.db
*.trace.db
*.class
.kotlin

### IntelliJ IDEA ###
.idea/shelf/
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/httpRequests/
*.iws
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
